body,
p,
h1,
button,
div {
  margin: 0;
  padding: 0;
}

:root {
  --bg-c: #7dd8d4;
  --white: #ffffff;
  --btn-bg-c: #9d6fd4;
  --font-f: Arial, Helvetica, sans-serif;
  --tr: all ease-in-out 150ms;
  --tr-h: translateY(-3px);
  --tr-act: translateY(3px);
}

.game {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-rows: 0.15fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--bg-c);
  font-family: var(--font-f);
  cursor: default;
}

.game__choice,
.game__box {
  width: 20rem;
  min-height: 20rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.game__choice > * {
  background-color: #9d6fd4;
  box-shadow: 2px 2px 2px #555;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
  transition: var(--tr);
}

.game__choice > *:hover {
  transform: var(--tr-h);
}

.game__choice > *:active {
  transform: var(--tr-act);
}

.game__txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--white);
}

.game__result {
  font-size: 1.6rem;
}

.game__current {
  font-size: 1.2rem;
}

.game__title {
  font-size: 3rem;
  align-self: center;
  color: var(--white);
}

.game__end {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.game__end > * {
  min-width: 6rem;
  font-size: 0.9rem;
  padding: 0.6rem 0;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  background-color: var(--btn-bg-c);
  color: var(--white);
  cursor: pointer;
  transition: var(--tr);
}

.game__end > *:hover {
  transform: var(--tr-h);
}

.game__end > *:active {
  transform: var(--tr-act);
}

.game__play {
  width: 20rem;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  background-color: var(--white);
}

.game__play > * {
  border: none;
  outline: none;
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--font-f);
  color: var(--white);
  background-color: var(--bg-c);
  cursor: pointer;
}

.game--hidden {
  visibility: hidden;
}

.game--none {
  display: none;
}
